.App {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
    min-width: 1200px;
    overflow-x: hidden;
    overflow: hidden;
}

.title {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    width: 100%;
}